@model TestCode.Models.ExtractedTextModel


<form asp-action="Upload" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="file">Select a file:</label>
        <input type="file" class="form-control-file" id="file" name="file">

    </div>
    <br/>

    <div class="form-group">
        <label for="">Prefix:</label>
        @Html.DropDownListFor(m => m.SelectedListItem, Model.ListItems, "Select an item")
    </div>

    <br/>
    <button type="submit" class="btn btn-primary">Upload</button>

   
</form>






