@model TestCode.Models.ExtractedTextModel

@{
    Layout = "_Layout";
}

<head>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <style>
        #loader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    color: white;
    font-size: 24px;
}
           </style>

</head>

<form id="fileUploadForm" asp-action="Upload" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="file">Select files:</label>
        <input type="file" class="form-control-file" id="file" name="files" multiple onchange="uploadFile();">
    </div>
    <br />

    <button type="submit" class="btn btn-primary" style="display: none;">Upload</button>
</form>

<div id="resultView">
    <div id="loader" style="display:none;">
        Loading...
    </div>
    @if (Model.Result != null)
    {
        @Html.Partial("_ResultView", Model.Result)
    }
</div>

<script>
    function uploadFile() {
        $('#loader').show();
        var formData = new FormData($('#fileUploadForm')[0]);

        $.ajax({
            url: $('#fileUploadForm').attr('action'),
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (result) {
                $('#resultView').html(result);
            }
        });
    }
</script>

